
#notes-list {
  height: 650px;
  overflow: scroll;
  max-height: 650px;
}

#header-menu {
  margin: 10px
}

.header-title {
  margin-top: 10px;
  margin: 10px
}

.tag-text {
  font-size: small;
  color: grey;
}

div.ui.grid {
  margin: 10px
}

#new-note-form {
  margin-right: 30px;
  margin-left: 30px
}

#login-form {
  align-items:right
}

#login-input {
  align-items:center;
  width: 200px
}

#login-button {
  align-items:center
}


